:host {
	background-color: rgba( 0, 0, 0, 0.85 ) ;
	bottom: 0px ;
	display: flex ;
	left: 0px ;
	overflow: auto ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	z-index: 1500 ;
}
.container {
	cursor: default ;
	margin: auto auto auto auto ;
	width: auto;
	padding: 0;
	max-width: inherit;
}