<app-header [heading]="'Question Form Page'"></app-header>
<div class="registration-tutorsection">
    <app-leftfixed></app-leftfixed>
    <section class="t-reg__rightform">
        <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" ></ckeditor>
         </div> -->

         <form [formGroup]="questionForm" novalidate (ngSubmit)="save(questionForm)">


           <div class="form-group">
            <mat-radio-group formControlName="questionStatusId"
                                            aria-labelledby="example-radio-group-label"
                                            >
                                                
                                                <mat-radio-button *ngFor="let qs of questionStatuses"  [value]="qs.id" >{{qs.name}}</mat-radio-button>

                                              </mat-radio-group>  
            <!-- name -->
            <div class="form-group">
                <label>Question</label>
                <ckeditor [editor]="Editor" [config]="ckeConfig"
                 formControlName="question" ></ckeditor>
                 <ng-katex-html *ngIf="questionForm?.get('question')?.value!=''"  [html]="questionForm.get('question').value" ></ng-katex-html>
            </div>
         
            
           
                <div formArrayName="choices">
                    <div *ngFor="let data of getQuestionFormControls(); let i=index">
                        <div>
                            <span>Option {{i + 1}}</span>
                            <button class="x" *ngIf="getQuestionFormControls().length >= 1" 
                                (click)="removeChoice(i)">X
                            </button>
                        </div>
            
                        <div [formGroupName]="i">
                            <div>
                                <!-- <label>Text</label> -->
                                <!-- <textarea formControlName="option" placeholder = "text field"  ></textarea> -->
                                <mat-checkbox formControlName="isCorrect"></mat-checkbox>
                                <ckeditor  [editor]="Editor" [config]="ckeConfig" formControlName="choice" ></ckeditor>
                            </div>
                            <ng-katex-html *ngIf="data?.get('choice')?.value" [html]="data.get('choice').value" ></ng-katex-html>
                            <!-- <div mathjax>{{data.get("option").value}}</div> -->
                          </div>
                    </div>
                    <button type="button" (click)="addChoice()">Add Options</button>
                  </div>
                  <div>
                  <label>Solution</label>
                <ckeditor [editor]="Editor" [config]="ckeConfig"
                 formControlName="solution" ></ckeditor>
                 <ng-katex-html *ngIf="questionForm?.get('solution')?.value" [html]="questionForm.get('solution').value" ></ng-katex-html>
                    </div>

                    <table>
                        <tr>
                            <td>
                            <table>
                                <thead>
                                    <tr>
                                        <td>Difficulty</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>
                                    <mat-radio-group  formControlName="difficultyLevelId"
                                        aria-labelledby="example-radio-group-label"
                                        class="example-radio-group">
                                            
                                            <mat-radio-button *ngFor="let dl of difficultyLevels"  class="example-radio-button" [value]="dl.id" >{{dl.name}}</mat-radio-button>
                                            
                                          </mat-radio-group>  
                                    </td></tr>
                                </tbody>
                            </table>
                            </td>
                            <td>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Blooms Taxonomy</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                        <mat-radio-group  formControlName="bloomsTaxonomyId"
                                            aria-labelledby="example-radio-group-label"
                                            class="example-radio-group">
                                                
                                                <mat-radio-button *ngFor="let bt of bts"  class="example-radio-button" [value]="bt.id" >{{bt.name}}</mat-radio-button>

                                              </mat-radio-group>  
                                            </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Other Tags</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <mat-radio-group formControlName="questionTypeId"
                                            aria-labelledby="example-radio-group-label"
                                            class="example-radio-group">
                                                
                                                <mat-radio-button *ngFor="let qt of questionTypes"  class="example-radio-button" [value]="qt.id" >{{qt.name}}</mat-radio-button>
                                                
                                              </mat-radio-group>  
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <app-syllabus-detail-form [type]="type" [concept]=selectedConcept (selectedConceptEmit)="getMessage($event)"></app-syllabus-detail-form>
          
          
              <!-- we will place our fields here -->
              <button type="submit" [disabled]="!questionForm?.valid">
               <span *ngIf="isUpdate">Update</span>
               <span *ngIf="!isUpdate">Submit</span>
         
              </button>
          </form>
          
          
    </section>
</div>