.t-reg__rightform {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 4em;
  }
  