<app-header [heading]="'Select Board, Class and Subject'"></app-header>
<div class="registration-tutorsection">
    <app-leftfixed></app-leftfixed>
    <section class="t-reg__rightform">
        <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <table>
                <tr>
                    <td>
                            <ng-select #boardC
                            [items]="boards"
                            bindLabel="name"
                            placeholder="Select Board"
                            [(ngModel)]="selectedBoard"
                            (change) = boardSelected($event) >
                            </ng-select>
                    </td>
                    <td>
                            <ng-select #standardC 
                            [items]="standards"
                            bindLabel="name"
                            placeholder="Select Class"
                            [(ngModel)]="selectedStandard"
                            (change) = standardSelected($event)>
                            </ng-select>
                    </td>
                    <td>
                            <ng-select #subjectC
                            [items]="subjects"
                            bindLabel="name"
                            placeholder="Select Subject"
                            [(ngModel)]="selectedSubject"
                            (change) = submit($event)>
                            </ng-select>
                    </td>
                </tr>
            </table> 
            <div>
                   
                    <button
                  type="button"
                  (click)="navigateToQuestions()"
                  class="cta-primary btnSamewth btnSignup"
                >
                  Go
                </button>
                    </div>
         </div> -->

         <app-syllabus-detail-form [type]="type"></app-syllabus-detail-form>
         <div>
                   
            <button
          type="button"
          (click)="navigateToQuestions()"
          class="cta-primary btnSamewth btnSignup syllabus-navigate-button"
        >
          Go
        </button>
            </div>

    </section>
</div>