        <table class="syllabus-detail">
            <tr>
                <td >
                        <ng-select #boardC
                        [items]="boards"
                        bindLabel="name"
                        placeholder="Select Board"
                        [(ngModel)]="selectedBoard"
                        (change) = boardSelected($event) >
                        </ng-select>
                        <!-- <mat-form-field>
                            <mat-label>Choose Board</mat-label>
                            <mat-select [disabled]="disableSelect.value" 
                            [(ngModel)]="selectedBoard"
                            (change) = boardSelected($event)>
                                <mat-option value="b" *ngFor="let b of boards">{{b.name}}</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                </td>
                <td>
                        <ng-select #standardC 
                        [items]="standards"
                        bindLabel="name"
                        placeholder="Select Class"
                        [(ngModel)]="selectedStandard"
                        (change) = standardSelected($event)>
                        </ng-select>
                        <!-- <mat-form-field>
                            <mat-label>Choose Class</mat-label>
                            <mat-select [disabled]="disableSelect.value" 
                            [(ngModel)]="selectedStandard"
                            (change) = standardSelected($event)>
                                <mat-option value="s" *ngFor="let s of standards">{{s.name}}</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                </td>
                <td>
                        <ng-select #subjectC
                        [items]="subjects"
                        bindLabel="name"
                        placeholder="Select Subject"
                        [(ngModel)]="selectedSubject"
                        (change) = subjectSelected($event) >
                        </ng-select>
                        <!-- <mat-form-field>
                            <mat-label>Choose Subject</mat-label>
                            <mat-select [disabled]="disableSelect.value" 
                            [(ngModel)]="selectedSubject"
                            (change) = subjectSelected($event)>
                                <mat-option value="s" *ngFor="let s of subjects">{{s.name}}</mat-option>
                            </mat-select>
                          </mat-form-field> -->
                </td>
                <td *ngIf="type==SyllabusType.QuestionForm">
                    <ng-select #chapterC
                    [items]="chapters"
                    bindLabel="name"
                    placeholder="Select chapter"
                    [(ngModel)]="selectedChapter"
                    (change) = chapterSelected($event) >
                    </ng-select>
                    <!-- <mat-form-field>
                        <mat-label>Choose Subject</mat-label>
                        <mat-select [disabled]="disableSelect.value" 
                        [(ngModel)]="selectedSubject"
                        (change) = subjectSelected($event)>
                            <mat-option value="s" *ngFor="let s of subjects">{{s.name}}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
            </td>
                <td *ngIf="type==SyllabusType.QuestionForm">
                    <ng-select #conceptC
                    [items]="concepts"
                    bindLabel="name"
                    placeholder="Select concept"
                    [(ngModel)]="selectedConcept"
                    (change) = sendMessageToParent($event)>
                    </ng-select>
                    <!-- <mat-form-field>
                        <mat-label>Choose Concept</mat-label>
                        <mat-select [disabled]="disableSelect.value" 
                        [(ngModel)]="selectedConcept">
                            <mat-option value="c" *ngFor="let c of concepts">{{c.name}}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
            </td>
            </tr>
        </table> 