<article class="c-profile__leftsection">
        <figure>
            <img src="./assets/tutor-icon.png"
            srcset="./assets/tutor-icon@2x.png 2x,
                    ./assets/tutor-icon@3x.png 3x"
            class="img-fluid">
        </figure>
        <figcaption class="gredient-text-width">
            <h2 class="headingwith-gredient-left">
                A world class tutoring for anyone, anywhere. 
            </h2>
        </figcaption>
    </article>
    