@import"../../../../../../variable.scss";

.c-profile__leftsection{
  padding-top: 64px;
}

.c-profile__leftsection figure{
  padding-left: 10%;
}

.gredient-text-width{
  text-align: left;
  padding-left: 18%;
}

.headingwith-gredient-left {
  background: linear-gradient(106deg, #fb5300, #ffbc1d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  @include fontSize(39px);
}

@media(max-width:767px){
  .c-profile__leftsec_bg{
      display: none;
    }
}