<!-- <section class="leftsection-image">
    <h1 class="heading-joinboard">Join the Board!</h1>
    <h1 class="heading-joinboard">Welcome Back!</h1>
    <div class="tutorImg text-center"><img class="img-fluid" src="assets/tutor-img-1.png" alt="tutor IMG"/></div>
</section> -->