@import "../../../../../../variable.scss";

/* left image and heading section */
.leftsection-image {
  width: 35%;
  position: fixed;
  left: 0;
  top: 0;
  background: url(../../../../../../assets/bg-left.svg) left top no-repeat, #ffffff;
  height: 100vh;
  max-height: 100%;
  border-right: #e2e2e2 solid 1px;
  padding: 181px 0 0 0;
  background-size: contain;
  text-align: center;
}
.heading-joinboard {
  font-weight: bold;
  @include fontSize($fontforHeading);
}
/* left image and heading section */

@media (max-width: 812px) {
  .leftsection-image {
    display: none;
  }
}
