<h2 class="t-reg__heading">{{title}}</h2>
<!-- form start -->
<form (ngSubmit)="onSubmit()" [formGroup]="signupform" class="col-lg-12 col-md-12 col-sm-12 col-12 formcls px-0">
    <div class="form-group t-formgroup__mb">
        <label class="t-formglobal__label" for="fullUserName">Full Name</label>
        <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" class="form-control" formControlName="name"
            placeholder="Enter Full Name" type="text" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Full name is required.</div>
        </div>
    </div>

    <div class="form-group t-formgroup__mb">
        <label class="t-formglobal__label" for="mobile">Mobile Number</label>
        <div class="input-group1">
            <app-countrycode></app-countrycode>
            <input [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" class="form-control"
                formControlName="mobile" placeholder="Mobile Number" type="tel" numbersOnly />

            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">
                    Mobile Number is required.
                </div>
                <div *ngIf="f.mobile.errors.minlength"> Mobile Number should be minimun 10 characters</div>
                <div *ngIf="f.mobile.errors.pattern">
                    Mobile Number pattern doesn't match
                </div>
            </div>
        </div>

    </div>
    <div class="btn-global__leftcenter">
        <!-- <button type="button" class="cta-primary t-reg__btn" [disabled]="!signupform.valid" data-toggle="modal" data-target="#verifyMobile"> -->
        <button [disabled]="!signupform.valid" class="cta-primary t-reg__btn">
            Register Now
        </button>
    </div>
    <p>
        Already have an account,
        <a (click)="navigateToLogin()" href="javascript:void(0)" class="link-cls">Log in</a>
    </p>
    <p *ngIf="tncLine" class="cls-12"> By signing up, I agree to TestKaro <a href="javascript:void(0)" (click)="navigateToTnC($event)">Terms of use</a> &amp; <a href="javascript:void(0)" (click)="navigateToPrivacyPolicy($event)" >Privacy Policy</a>.</p>

    <div class="becomeAtutor mx-auto" *ngIf="becomeTutorButton">
        <!-- <button type="button" class="cta-primary t-reg__btn" [disabled]="!signupform.valid" data-toggle="modal" data-target="#verifyMobile"> -->
        <a href="javascript:void(0)" (click)="onBecomeTutorClick()">Want to become a Tutor?</a>
    </div>
</form>
<!-- form end -->