@import "../../../../../../variable.scss";
/* right heading and form section start */
.t-reg__rightform {
  padding-left: 37%;
  margin-top: 100px;
}
.t-reg__heading:after {
  content: "";
  position: absolute;
  width: 58px;
  max-width: 58px;
  height: 2px;
  background: $black;
  bottom: -12px;
  left: 0;
}

.t-formglobal__label {
  font-weight: bold;
  @include fontSize($fontSmall);
  margin-bottom: 10px;
}
.t-formgroup__mb {
  margin-bottom: 30px;
}
.t-reg__btn {
  padding: 12px 60px;
  margin-bottom: 26px;
}
.btn-global__leftcenter {
  text-align: left;
}
.t-reg__rightform form p {
  @include fontSize($font-forContent);
  letter-spacing: 0;
  color: $greyishText;
  margin-bottom: 30px;
  text-align: center;
}
.t-reg__rightform form p .link-cls,
.agree-termspolicy .link-cls {
  color: $blue;
  text-decoration: underline;
}
.t-reg__rightform form p .link-cls:hover,
.agree-termspolicy .link-cls:hover {
  color: $dark-sky-blue;
}
.agree-termspolicy {
  color: $grey;
  @include fontSize($fontSmall);
}
.tutorImg {
  width: 300px;
  margin: 10px auto 0;
}
.tutorImg img {
  width: 100%;
  display: block;
}
.prefix-btn,
.prefix-btn.dropdown-toggle {
  @include fontSize($font-forContent);
  @extend %borderGlobal;
  box-shadow: none !important;
  background: #fff;
  @include fontSize($font-forContent);
  color: #c1c1c1;
  border-radius: 4px 0 0 4px;
}

.dropdown-menu a {
  color: #212529;
}
.input-group-prepend.show button[aria-expanded="true"]:focus {
  border: none !important;
  box-shadow: none;
}
/* right heading and form section start */


.t-reg__verifyOtpModalCustomWidth {
  max-width: 766px;
}
.t-reg__verifyOtpModalCustomWidth .modal-header .close {
  padding: 10px 20px;
}
/* left side modal */

.t-reg__verifyOtphassent_text {
  color: $black;
  opacity: 0.35;
  @include fontSize($font-forContentSub);
  padding-top: 6px;
  padding-bottom: 23px;
}
.t-reg__verifyOtp_custom_mp {
  @extend %m0-p0;
}
.t-reg__input_m_top {
  margin-top: 17px;
}
.t-reg__verifyContainer {
  padding: 0 20px;
}
.customwidth-verifymobileform {
  width: 82%;
}
.verify-modalleftsection {
  padding: 30px 20px;
}

.global_labelblock {
  display: block;
}
.modal-img-close {
  opacity: 1;
  margin-right: 22px;
  margin-top: 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
// .font-weight-normal {
//   font-weight: $normalWeight;
//   @include fontSize($fontSmall);
// }
.verifymodaltext-mb {
  margin-bottom: 27px;
}
.otptext {
  @include fontSize($fontSmall);
}
label.t-formglobal__label.global_labelblock a.link-cls {
  color: $blue;
  text-decoration: underline;
  @include fontSize($fontSmall);
  font-weight: normal;
}
span.text-right.otptext a.link-cls {
  color: $blue;
  text-decoration: underline;
}
/* left side modal */

/* modal right section */
.verify-modalrightsection {
  background: #f7f7f7;
  padding: 60px 1rem;
}
.formcls p .link-cls, .agree-termspolicy .link-cls {
  color: #00a1ff;
  cursor: pointer;
}
.formcls p{
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #444;
}
.cls-12 {
  font-size: 12px !important;
  color: #888 !important;
  margin-top: 25px;
}
.becomeAtutor {
  padding: 10px 30px;
  background: #fefefe;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
  width: 220px;
}


@media all and (max-width: 812px) and (min-width: 768px) {
  .t-reg__rightform{
    padding-left: 0;
    margin: 100px auto 0;
    width: 60%;
}
}

@media (max-width: 767px) {
  .t-reg__rightform {
    padding: 20px 20px 20px 17px;
    width: 100%;
    margin-top: 70px;
  }
  .btn-global__leftcenter {
    text-align: center;
  }
  
  .t-reg__rightform form p {
    text-align: center;
  }
  .agree-termspolicy {
    text-align: center;
  }

  /* varify otp modal css */
  .verify-modalleftsection {
    padding: 45px 0 0 0;
  }
  .verify-modalrightsection {
    display: none;
  }
  .t-reg__verifyOtp_custom_mp {
    padding: 0 20px 20px 20px;
  }
  .t-reg__verifyContainer {
    padding: 0;
  }
  .customwidth-verifymobileform {
    width: 100%;
    padding: 0;
  }
  label.t-formglobal__label.global_labelblock a.link-cls {
    color: $blue;
    text-decoration: underline;
    @include fontSize($fontSmall);
    font-weight: normal;
  }
  span.text-right.otptext a.link-cls {
    color: $blue;
    text-decoration: underline;
  }
  /* varify modal css */


}

