<app-header></app-header>

<app-leftfixed></app-leftfixed>
<!-- Registration part starts here -->
<div class="registration-tutorsection">
        
    <!-- right section form part start -->
    <section class="t-reg__rightform">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <app-register-form [parent]="state.parent" [becomeTutorButton]="true" [origin]="'page'" (openLogin)="navigateToLogin()"></app-register-form>
        </div>
    </section>
    <!-- right section form part end -->
</div>