<footer class="studentLanding__footer">
    <div class="bgcontainer">
        <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 col-12">
                <div class="row">
                    <ul class="col-md-4 col-sm-4 col-xs-12 col-12 footer-logo">
                        <li><a href="javasript:void(0)"><img src="./assets/white-logo.svg" type="image/svg+xml" alt="TestKaro"/> <span>TestKaro</span></a></li>
                    </ul>
                    <ul class="col-md-8 col-sm-8 col-xs-12 col-12 linkFooter">
                        <li><a href="./">Home</a></li>
                        <li><a target="_blank" [routerLink]="['/legal-pages/terms-of-use']">Terms & Condition</a></li>
                        <li><a href="javascript:void(0)">About Us</a></li>
                        <li><a target="_blank" [routerLink]="['/legal-pages/privacy-policy']">Privacy policy</a></li>
                        <li><a target="_blank" href="">News</a></li>
                        <li><a target="_blank" [routerLink]="['/legal-pages/disclaimer']">Disclaimer</a></li>
                        <li><a href="javascript:void(0)">Contact Us</a></li>
                        <li><a target="_blank" [routerLink]="['/legal-pages/copyright']">Copyright Notice</a></li>
                        <li><a target="_blank" href="">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 col-12 address-txt">
                <h3>Address: </h3>
                    32 & 32/1, Chaudhary House, Begumpur opposite Vijay Mandal enclave
                    gate no.,1 Kalusarai,, Sarvapriya Vihar, New Delhi, Delhi 110017
            </div>
        </div>
    </div>
    </div>
</footer>