.studentLanding__footer {
  background: url('../../../../../../assets/footer-image.svg') repeat-x left top;
  padding: 200px 0 0;
  margin-top: -50px;
  .bgcontainer {
    background: #26aefc;
    padding-bottom: 50px;
  }



  .linkFooter {
      li {
        display: inline-block;
        width: 50%;
        padding-bottom: 10px;
        a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
        }
      }
  }
  span {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    font-size: 22px;
  }
  .footer-logo {
    margin-bottom: 20px;
    a{
      text-decoration: none;
    }
    img {
      width: 40px;
      vertical-align: inherit;
    }
  }
}

.linkFooter {
  li {
    display: inline-block;
    width: 50%;
    padding-bottom: 10px;
    a {
      display: inline-block;
      color: #fff;
    }
  }
}

.address-txt {
  color: #fff;
  line-height: 32px;
  h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .address-txt {
    color: #fff;
    line-height: 32px;
    h3{
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
  }
  .studentLanding__footer {
    padding: 80px 0 0;
    margin-top: 50px;
    .bgcontainer {
      background: #26aefc;
      padding-bottom: 50px;
    }
    
    span {
      color: #fff;
      display: block;
      margin-left: 0;
      font-size: 16px;
      font-weight: 400;
      margin-top: -8px;
    }
    .footer-logo {
      margin-bottom: 20px;
      img {
        width: 65px;
        vertical-align: inherit;
      }
    }
    
  }
  .linkFoote li a {
    color: #fff;
  }
}
