<div ngbDropdown class="btn-group country-code">
    <a class="btn-primary dropdown-toggle" id="dropdownForm1" ngbDropdownToggle href="javascript:void(0)">
        {{selectedCode}} <span class="caret"></span></a>
    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownForm1">
        <li (click)="onCountrySelect(countryCode)" *ngFor="let countryCode of countryCodes"
            class="dropdown-item"><span>{{countryCode.country_name}} <b>
                    {{countryCode.dialling_code}}</b></span></li>
    </ul>
</div>