<app-header [heading]="'Question List Page'"></app-header>
<div class="registration-tutorsection">
    <section class="t-normal-page">
        <div class="">
            <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" ></ckeditor> -->
            <!-- <app-syllabus-detail-form [type]="type" (selectedConceptEmit)="getMessage($event)"></app-syllabus-detail-form> -->
            <button
                  type="button"
                  (click)="fetchQuestion()"
                  class="cta-primary btnSamewth cq-button"
                >
                  Search
                </button>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

              <ng-container matColumnDef="id">
               <th mat-header-cell *matHeaderCellDef> No. </th>
               <td mat-cell *matCellDef="let question"> {{question.id}} </td>
             </ng-container>
           
             <ng-container matColumnDef="question">
               <th mat-header-cell *matHeaderCellDef> Question </th>
               <td mat-cell *matCellDef="let question"> {{question.question}} </td>
             </ng-container>
           
             <ng-container matColumnDef="status">
               <th mat-header-cell *matHeaderCellDef> Status </th>
               <td mat-cell *matCellDef="let question"> {{question.questionStatus.name}} </td>
             </ng-container>

             <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> type </th>
              <td mat-cell *matCellDef="let question"> {{question.questionType.name}} </td>
            </ng-container>
           
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editQuestionForm(row)"></tr>
           </table>
            <mat-paginator [length]="dataSource?.data?.length "
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            <button
                  type="button"
                  (click)="navigateToQuestionForm(0)"
                  class="cta-primary btnSamewth cq-button"
                >
                  Create Question
                </button>
         </div>
    </section>
</div>