<div class="row modal-body t-reg__verifyOtpModalCustomWidth t-reg__verifyOtp_custom_mp">
    <!-- close btn  -->
    <button (click)="dismiss('Cross click')" aria-label="Close" class="close modal-img-close" type="button">
        <img src="./assets/modal-close.svg"/>
    </button>
    <!-- close btn -->
    <!-- modal left section start -->
    <section class="col-md-7 verify-modalleftsection">
        <div class="justify-content-center">
            <div class="t-reg__verifyContainer">
                <h2 class="t-reg__verifyOtp__mobileHeading">{{h1}}</h2>
                <p class="t-reg__verifyOtphassent_text">{{h2}}</p>
            </div>
            <form [formGroup]="verifyform" class="t-reg__verifyContainer customwidth-verifymobileform">
                <div class="form-group">
                    <label class="t-formglobal__label global_labelblock" for="mobilenumber">
                        {{h3}}
                        <span class="text-right pull-right">
                            <a (click)="dismiss('Cross click')" aria-label="Close" class="link-cls"
                               href="javascript:void(0)">Edit</a>
                        </span>
                    </label>
                    <input class="form-control" formControlName="username" id="mobilenumber" readonly type="tel">
                    <input class="form-control t-reg__input_m_top" formControlName="otp" id="enterOtp"
                           placeholder="Enter OTP" type="text">
                </div>
                <div class="verifymodaltext-mb">
                    <span class="text-left otptext">
                        <countdown [config]="countdownConfig" (event)="handleCountdownEvent($event)"></countdown>

                    </span>
                    <span class="text-right pull-right otptext">
                            <button [disabled]="!isOtpResendEnabled" class="link-cls" href="javascript:void(0)" (click)="resendOtp()">Resend OTP</button>
                    </span>
                </div>
                <button (click)="verifyOtp()"
                        class="cta-primary t-reg__btn">
                    Verify Now
                </button>

            </form>
        </div>
    </section>
    <!-- modal left section end -->
    <!-- modal right section start -->
    <section class="col-md-5 verify-modalrightsection">
        <img class="ICON--teacher-3-1"
             src="assets/icon-teacher-3-1.png"
             srcset="assets/icon-teacher-3-1@2x.png 2x,
                    assets/icon-teacher-3-1@3x.png 3x"/>
    </section>
    <!-- modal right section end -->
</div>
