@import "../../../../../../variable.scss";
/* varify mobile number pop up start */

.t-reg__verifyOtpModalCustomWidth {
  width: 766px;
  background: #fff;
  border-radius: 5px;
}
.t-reg__verifyOtpModalCustomWidth .modal-header .close {
  padding: 10px 20px;
}
/* left side modal */

.t-reg__verifyOtphassent_text {
  color: $black;
  opacity: 0.35;
  @include fontSize($font-forContentSub);
  padding-top: 6px;
  padding-bottom: 23px;
}
.t-reg__verifyOtp_custom_mp {
  @extend %m0-p0;
}
.t-reg__input_m_top {
  margin-top: 17px;
}
.t-reg__verifyContainer {
  padding: 0 20px;
}
.customwidth-verifymobileform {
  width: 82%;
}
.verify-modalleftsection {
  padding: 30px 20px;
}

.global_labelblock {
  display: block;
}
.modal-img-close {
  opacity: 1;
  margin-right: 22px;
  margin-top: 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
// .font-weight-normal {
//   font-weight: $normalWeight;
//   @include fontSize($fontSmall);
// }
.verifymodaltext-mb {
  margin-bottom: 27px;
}
.otptext {
  @include fontSize($fontSmall);
}
label.t-formglobal__label.global_labelblock a.link-cls {
  color: $blue;
  text-decoration: underline;
  @include fontSize($fontSmall);
  font-weight: normal;
}
span.text-right.otptext button.link-cls {
  color: $blue;
  text-decoration: underline;
  background: transparent;
  border: none;
}
/* left side modal */

/* modal right section */
.verify-modalrightsection {
  background: #f7f7f7;
  padding: 60px 1rem;
  border-radius: 0px 5px 5px 0;
}
/* modal right section end */
@media (max-width: 767px) {
  /* varify otp modal css */
  .verify-modalleftsection {
    padding: 45px 0 0 0;
    
  }
  .verify-modalrightsection {
    display: none;
  }
  .t-reg__verifyOtp_custom_mp {
    padding: 0 20px 20px 20px;
    width: 100%;
  }
  .t-reg__verifyContainer {
    padding: 0;
  }
  .customwidth-verifymobileform {
    width: 100%;
    padding: 0;
  }
  label.t-formglobal__label.global_labelblock a.link-cls {
    color: $blue;
    text-decoration: underline;
    @include fontSize($fontSmall);
    font-weight: normal;
  }
  span.text-right.otptext button.link-cls {
    color: $blue;
    text-decoration: underline;
    background: transparent;
    border: none;
  }
  /* varify modal css */
}

@media (min-width: 992px) {
::ng-deep .modal-lg, ::ng-deep .modal-xl {
    max-width: 766px;
  }
}

