<section class="t-reg__rightform">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">
      <h2 class="t-reg__heading">Forgot Password</h2>
      <!-- form start -->
      <form
        [formGroup]="confirmforgot"
        (ngSubmit)="onSubmit()"
        class="register-form-width col-lg-9 col-md-12 col-sm-12 col-12 px-0"
      >
        <div
          class="form-group"
          [ngClass]="{
            'has-danger': f.otpmobNum.invalid && f.otpmobNum.touched,
            'has-success': f.otpmobNum.valid && f.otpmobNum.touched
          }"
        >
          <label for="mobilenumber" class="t-formglobal__label global_labelblock">
            Mobile Number
            <span class="text-right pull-right">
              <a
                href="javascript:void(0)"
                [routerLink]="'/tlogin/tuser-login'"
                data-dismiss="modal"
                aria-label="Close"
                class="link-cls "
                >Edit</a
              >
            </span>
          </label>
          <input
            type="tel"
            class="form-control"
            readonly
          />
          <input
            type="text"
            formControlName="otpmobNum"
            class="form-control t-reg__input_m_top"
            placeholder="Enter OTP sent to Phone"
          />
          <div
            class="form-control-feedback error-alertcls"
            *ngIf="f.otpmobNum.errors && f.otpmobNum.touched"
          >
            <div *ngIf="f.otpmobNum.errors.required">OTP is required</div>
            <div *ngIf="f.otpmobNum.errors.minlength">OTP is invalid</div>
          </div>
        </div>
        <div class="forgetpassword-step2-text-mb">
          <span class="text-left otptext">
            00.10
          </span>
          <span class="text-right pull-right otptext">
            <a href="#" class="link-cls ">Resend OTP</a>
          </span>
        </div>
  
        <div
          class="form-group"
          [ngClass]="{
            'has-danger': f.password.invalid && f.password.touched,
            'has-success': f.password.valid && f.password.touched
          }"
        >
          <label class="t-formglobal__label global_labelblock"
            >New Password<span class="text-danger"> *</span></label
          >
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
          <div
            *ngIf="f.password.errors && f.password.touched"
            class="form-control-feedback error-alertcls"
          >
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div
          class="form-group"
          [ngClass]="{
            'has-danger': f.confirmPassword.invalid && f.confirmPassword.touched,
            'has-success': f.confirmPassword.valid && f.confirmPassword.touched
          }"
        >
          <label class="t-formglobal__label global_labelblock"
            >Confirm Password<span class="text-danger"> *</span></label
          >
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
          />
          <div
            *ngIf="f.confirmPassword.errors && f.confirmPassword.touched"
            class="form-control-feedback error-alertcls"
          >
            <div *ngIf="f.confirmPassword.errors.required">
              Confirm Password is required
            </div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">
              Passwords must match
            </div>
          </div>
        </div>
        <div class="forgetpass-btnsec">
          <button
            [disabled]="confirmforgot.invalid"
            class="cta-primary t-reg__btn"
          >
            Login
          </button>
        </div>
      </form>
      <!-- form end -->
    </div>
  </section>
  