@import "../login-form//login-form.component.scss";
@media all and (max-width: 812px) and (min-width: 768px) {
    .t-reg__rightform{
      padding-left: 0;
      margin: 100px auto 0;
      width: 60%;
  }
  .register-form-width {
    width: 100%;
  }
  }