<!--Header Section-->
<header
  id="navbar-fixed"
  class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar fixed"
>
  <div class="container">
    <a href="javascript:void(0)" class="hidden-desk" (click)="mobMenu()"
      ><span><i class="iconG-menu"></i></span
    ></a>
    <a href="./" class="navbar-brand mr-0 mr-md-2"
      ><span>Test<em>Karo</em></span></a
    >
    <div>{{heading}}</div>
    <nav class="navbar-nav bd-navbar-nav flex-row ml-md-auto d-md-flex">
      <!-- Navigation Dropdown For Mobile Start -->
      <ul
        [ngClass]="{ show: showpanel, hide: hidepanel }"
        class="collapse navbar-collapse hidden-desk"
      >
        <li class="menuHeader">
          <span (click)="mobMenu()"><i class="iconG-close"></i></span>
          <span *ngIf="!isLoggedIn"
            ><button
              (click)="navigateToLogin()"
              type="button"
              class="cta-default"
            >
              Log In
            </button></span
          >
          <span *ngIf="!isLoggedIn"
            ><button
              type="button"
              (click)="navigateToRegister()"
              class="cta-primary btnSamewth btnSignup"
            >
              Sign Up
            </button></span
          >
          <span *ngIf="isLoggedIn"
            ><button
              (click)="logOut()"
              type="button"
              class="cta-default btnSamewth btnSignup"
            >
              Log Out
            </button></span
          >
        </li>
        <!-- <li><a href="javascript:void(0)">Become A Tutor</a></li>
                    <li><a href="javascript:void(0)">Become A Student</a></li>
                    <li><a href="javascript:void(0)">Question of the Day</a></li>
                    <li><a href="javascript:void(0)">Resources</a></li> -->
       
      </ul>
      <!-- Navigation Dropdown For Mobile End -->

      <!-- Navigation For Desktop Start -->
      <ul class="navfordesktop">
        <li *ngIf="!isLoggedIn" class="nav-item hidden-mob">
          <button (click)="navigateToLogin()" type="button" class="cta-default">
            Log In
          </button>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <button
            type="button"
            (click)="navigateToRegister()"
            class="cta-primary btnSamewth btnSignup"
          >
            Sign Up
          </button>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <button (click)="logOut()" type="button" class="cta-default">
            Log Out
          </button>
        </li>
      </ul>
      <!-- Navigation For Desktop End -->
    </nav>
    <div [ngClass]="{ show: showpanel, hide: hidepanel }" class="fadeBG"></div>
  </div>
</header>

<!--Header Section End-->
