@import "../../../../../../variable.scss";
.bd-navbar {
  position: fixed;
  top: 0;
  z-index: 1071;
  width: 100%;
}
.navbar-nav li {
  display: inline-block;
  color: #000;
  padding: 5px 15px;
  position: relative;
}
.navbar-nav li a {
  color: #000;
  text-decoration: none;
}
.navbar-dark .navbar-brand img {
  width: 40px;
  vertical-align: middle;
}
.navbar-dark .navbar-brand span {
  color: #228B22;
  display: inline-block;
  margin-left: 5px;
  font-size: 32px;
  vertical-align: middle;
  font-weight: 400;
  em {
    color: #228B22;
    font-style: normal;
  }
}
.navbar {
  padding: 16px;
  transition: all 0.6s;
}

.sticky {
  background-color: #fff;
  transition: all 0.6s;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  padding: 5px 15px !important;
}

.hidden-desk {
  display: none !important;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%; /* the height of the main nav */
  left: 0;
  background: #fff;
  box-shadow: #ccc 0 1px 10px;
  border-radius: 4px;
  min-width: 146px;
  padding: 12px 0;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
  background: #fff;
  border-radius: 5px;
  box-shadow: #ccc 0 1px 10px;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  float: none;
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 5px 20px 5px 20px;
  a {
    color: #444444;
    font-size: 14px;
    &:hover {
      color: #228B22;
    }
  }
}

.navfordesktop {
  li {
    a {
      i {
        font-size: 22px;
        display: inline-block;
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  left: 0;
}

@media (max-width: 767px) {
  .hidden-desk {
    display: block !important;
  }
  .hidden-mob {
    display: none !important;
  }
  nav ul li:hover > ul {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
    height: auto;
    &.show {
      display: none;
    }
  }
  .navbar ul li ul li {
    a {
      color: #666;
      font-size: 14px;
      margin-top: 0;
      font-weight: normal;
    }
  }
  .navbar {
    padding: 10px 15px;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 15px !important;
    ul {
      li {
        a {
          color: #222222;
          margin-top: 0;
          text-decoration: none;
          i.fa.fa-angle-down {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 26px;
            font-family: FontAwesome;
            &::before {
              content: "\f107";
            }
          }
          &[aria-expanded="false"] {
            i.fa.fa-angle-down {
              font-family: FontAwesome;
              &::before {
                content: "\f106";
              }
            }
          }
        }
      }
    }
  }
  .navbar-expand .navbar-collapse {
    display: block;
    padding-bottom: 0;
    width: 90%;
    position: absolute;
    left: -100%;
    top: 0;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    height: 100vh;
    z-index: 999;
    li {
      display: block !important;
      padding: 0 15px;
      line-height: 44px;
      a {
        font-weight: 500;
        display: block;
      }
    }
    &.show {
      animation: show 0.5s forwards;
      -webkit-animation: show 0.5s forwards;
      li {
        a {
          font-size: 14px;
          font-weight: 500;
          color: #222222;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
  .hide {
    left: -100%;
    animation: hide 0.8s forwards;
    -webkit-animation: hide 0.8s forwards;
  }
  .fadeBG {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(60, 60, 60, 0.999);
    top: 0;
    right: -100%;
    opacity: 0;
    z-index: 99;
    &.show {
      opacity: 1;
      z-index: 9;
      right: 0;
      transition: all 0.5s ease;
    }
    &.hide {
      opacity: 0;
      right: -100%;
      animation: none;
      -webkit-animation: none;
    }
  }

  .menuHeader {
    background: #f4f4f4;
    padding: 20px 15px !important;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    line-height: inherit !important;
    text-align: right;
    span {
      display: inline-block;
      padding: 0px 10px;
      &:nth-child(1) {
        padding-left: 0px;
        padding-right: 25px;
        text-align: left;
        width: auto;
        position: absolute;
        left: 19px;
        top: 23px;
      }
      &:nth-child(3) {
        padding-right: 0;
      }
      button {
        font-size: 14px;
        padding: 8px 20px;
      }
      i {
        &.iconG-close {
          font-size: 14px;
          color: #888888;
          vertical-align: middle;
        }
      }
    }
  }
  .navbar-nav li {
    display: inline-block;
    color: #000;
    padding: 5px 0 5px 15px;
    position: relative;
  }

  @keyframes show {
    100% {
      left: 0%;
    }
  }
  @-webkit-keyframes show {
    100% {
      left: 0%;
    }
  }
  @keyframes hide {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }

  @-webkit-keyframes hide {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }
  .navbar a {
    color: #222222;
    font-size: 14px;
    margin-top: 5px;
    text-decoration: none;
  }

  .navbar-dark .navbar-brand {
    margin-left: -40px;
    span {
      font-size: 24px;
      display: block;
      margin-left: 0;
      margin-top: -3px;
    }
  }
}

@media (max-width: 320px) {
  .navbar-dark .navbar-brand {
    margin-left: -25px;
  }
}
