@import "../../../../../../src/variable.scss";
/* right heading and form section start */
.t-reg__rightform {
  padding-left: 37%;
  //padding-right: 20%;
  margin-top: 100px;
}

.t-reg__heading:after {
  content: "";
  position: absolute;
  width: 58px;
  max-width: 58px;
  height: 2px;
  background: $black;
  bottom: -12px;
  left: 0;
}

.number-padding {
  padding-left: 75px;
}
.t-formglobal__label {
  font-weight: bold;
  @include fontSize($fontSmall);
  margin-bottom: 10px;
}
.t-formgroup__mb {
  margin-bottom: 30px;
}
.t-reg__btn {
  padding: 12px 60px;
  margin-bottom: 26px;
}
.btn-global__leftcenter {
  text-align: left;
}
.t-reg__rightform form p {
  @include fontSize($font-forContent);
  letter-spacing: 0;
  color: $black;
  margin-bottom: 30px;
}
.t-reg__rightform form p .link-cls,
.agree-termspolicy .link-cls {
  color: $blue;
}
.t-reg__rightform form p .link-cls:hover,
.agree-termspolicy .link-cls:hover {
  color: $dark-sky-blue;
}
.agree-termspolicy {
  color: $grey;
  @include fontSize($fontSmall);
}
.tutorImg {
  width: 300px;
  margin: 10px auto 0;
}
.tutorImg img {
  width: 100%;
  display: block;
}
/* right heading and form section start */

/*Password Section*/
.passShow a {
  color: #00a1ff;
}
.passShow .t-formgroup__mb,
.passShow .btn-global__leftcenter,
.passShow .btn-global__leftcenter .cta-primary {
  display: block;
  width: 100%;
}


.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media all and (max-width: 812px) and (min-width: 768px) {
  .t-reg__rightform {
    padding-left: 0;
    margin: 100px auto 0;
    width: 60%;
  }
  .register-form-width {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* registration tutor css */
  .leftsection-image {
    display: none;
  }
  .t-reg__rightform {
    padding: 20px 20px 20px 17px;
    width: 100%;
    margin-top: 70px;
  }
  .btn-global__leftcenter {
    margin: 0 auto;
    text-align: center;
  }
  .register-form-width {
    max-width: 100%;
    width: 100%;
  }
  .t-reg__rightform form p {
    text-align: center;
  }
  .agree-termspolicy {
    text-align: center;
  }
  /* registration tutor css end */
}
