<app-header [heading]="'Select Content'"></app-header>
<div class="registration-tutorsection">
    <app-leftfixed></app-leftfixed>
    <section class="t-reg__rightform">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <div>
                <!-- <a class="waves-effect waves-light btn" (click)="navigateToSyllabus()">Questions</a> -->
                <button
              type="button"
              (click)="navigateToSyllabus()"
              class="cta-primary btnSamewth btnSignup"
            >
              Questions
            </button>
                </div>
        </div>
    </section>
</div>