<div class="bgForallmadal  p-15 pt-10">
    <button (click)="dismiss('Cross click')" aria-label="Close" class="close modal-img-close" type="button">
        <img src="./assets/modal-close.svg" />
    </button>
    <app-login-form-layout (openRegister)="navigateToRegister()" [origin]="'modal'"></app-login-form-layout>
</div>