<div class="bgForallmadal  p-15 pt-10">
    <button (click)="dismiss('Cross click')" aria-label="Close" class="close modal-img-close" type="button">
        <img src="./assets/modal-close.svg" />
    </button>
    <app-register-form [origin]="'modal'" [parent]="state.parent" [tncLine]="false" (openLogin)="navigateToLogin()"></app-register-form>
</div>