
.bgForallmadal {
	background: #fff;
	border-radius: 5px;
	background: #fff;
	border-radius: 5px;
	width: 400px;
	padding: 20px;
}

@media (max-width: 767px) {
	.bgForallmadal {
		background: #fff;
		border-radius: 5px;
		background: #fff;
		border-radius: 5px;
		width: 300px;
		padding: 15px;
	}
}