<app-header></app-header>

<div class="registration-tutorsection">
    <app-leftfixed></app-leftfixed>
    <section class="t-reg__rightform">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <app-login-form-layout (openRegister)="navigateToRegister()" [origin]="'page'"></app-login-form-layout>
        </div>
    </section>
</div>
