<h2 class="t-reg__heading">Login</h2>
<app-avatar-img></app-avatar-img>

<!-- form start -->
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm"
      class="register-form-width col-lg-12 col-md-12 col-sm-12 col-12 px-0">
    <div class="form-group t-formgroup__mb">
        <label class="t-formglobal__label">Mobile Number</label>
        <div class="input-group">
                <span [hidden]="!isPhoneNumber" class="eyCtv2" id="contryCode">
                    <app-countrycode></app-countrycode>
                </span>

            <input (keyup)="onLoginInput()"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors, 'number-padding': isPhoneNumber}"
                   autocomplete="off" class="form-control" formControlName="username" name="username"
                   placeholder="Mobile Number" type="text">

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Mobile number is required</div>
                    <div *ngIf="f.username.errors.mobile">Please enter valid Mobile number</div>
                    <div *ngIf="f.username.errors.email">Please enter valid Email id</div>
                </div>
        </div>
    </div>

    <div *ngIf="otpHide" class="loginwihBtn fadeIn animated">
        <button (click)="verifyOtpClick()" class="cta-primary t-reg__btn">
            Login with OTP
        </button>
        <!-- <span>Or</span>
        <button (click)="onDivClick()" class="cta-default t-reg__btn">
            Enter password
        </button> -->
    </div>

    <div *ngIf="passShow" class="form-group passShow delay-03s fadeIn animated">
        <!-- <div *ngIf="clickPassHide" class="form-group t-formgroup__mb">
            <label class="t-formglobal__label">Password</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control"
                   formControlName="password" name="password" placeholder="Enter Password" type="password">

            <div *ngIf="submitted && f.password.invalid" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>

        </div>
        <div class="form-group t-formgroup__mb text-right">
            <a (click)="onForgotClick()" href="javascript:void(0)">Forgot Password?</a>
        </div> -->
        <div class="btn-global__leftcenter">
            <button class="cta-primary t-reg__btn">
                Login
            </button>
        </div>
    </div>

    <p class="text-center">Don't have an account? <a (click)="navigateToRegister()" class="link-cls"
                                                     href="javascript:void(0)">Sign Up</a></p>
    <p class="agree-termspolicy text-center d-none">By signing up, I agree to Gyanum’s <a class="link-cls"
                                                                                          href="#">Terms of
        use</a> and <a class="link-cls" href="#">Privacy Policy</a></p>
</form>
<!-- form end -->