@import "../../../../../variable.scss";
::ng-deep .ngb-toasts {
  top: inherit !important;
  bottom: 25px !important;
  margin: auto !important;
  z-index: 20000 !important;
  width: 100% !important;
  text-align: center;
}
.toast {
  width: none !important;
  max-width: 80% !important;
  display: inline-block !important;
}

.bg-success {
  background: $eggshell !important;
  border: $eggshell solid 1px;
  @include fontSize($fontSmall);
  color: #0e0e0e;
}