@font-face {
  font-family: "gyanum";
  src: url("./fonts/gyanum.eot?eh75y6");
  src: url("./fonts/gyanum.eot?eh75y6#iefix") format("embedded-opentype"),
    url("./fonts/gyanum.ttf?eh75y6") format("truetype"), url("./fonts/gyanum.woff?eh75y6") format("woff"),
    url("./fonts/gyanum.svg?eh75y6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="iconG-"],
[class*=" iconG-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "gyanum" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Custom Fonts For iconGs*/
.iconG-menu:before {
  content: "\e901";
}
.iconG-close:before {
  content: "\e902";
}
.iconG-chevron:before {
  content: "\e903";
}
.iconG-watch:before {
  content: "\e904";
}
.iconG-user:before {
  content: "\e905";
}
.iconG-shield:before {
  content: "\e906";
}
.iconG-abacus:before {
  content: "\e907";
}
.iconG-laboratory:before {
  content: "\e908";
}
.iconG-Caution_1:before {
  content: "\e90b";
}
.iconG-arrow-back:before {
  content: "\e90a";
}
.iconG-clock:before {
  content: "\e90c";
}
.iconG-badge-green_1:before {
  content: "\e90d";
}
.iconG-Minus-grey_1:before {
  content: "\e90e";
}
.iconG-plus-grey_1:before {
  content: "\e90f";
}
