/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/*** Font @import with google ***/
@import "~font-awesome/css/font-awesome.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/*** End Font @import with google ***/

/*CSS @import for Globle USE*/
@import "./scss/globle.scss";
@import "./fonts.scss";
@import "./variable.scss";
@import "./animate.scss";
@import '~katex/dist/katex.css';
/*CSS @import for Globle USE END*/

/*GLobal CSS*/
body {
  @include fontSize($font-forContent);
  font-family: "Roboto", sans-serif;
  background: #fcfcfc;
  @extend %m0-p0;
  font-weight: normal;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  @extend %m0-p0;
  font-weight: normal;
}
h1 {
  font-weight: bold;
  font-size: $fontforHeading;
  color: $black;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: underline;
  color: #00a1ff;
}
p {
  @extend %m0-p0;
}
ul,
ol {
  list-style: none;
  @extend %m0-p0;
}
button,
button:focus {
  outline: none;
}
.hidden-desk {
  display: none;
}
/*Css for bootstrap*/
.container {
  max-width: 1260px;
}
.container-fluid {
  padding: 0;
}

/*Global Button*/
%btn {
  border-radius: 40px;
  padding: 7px 35px;
  @include fontSize($font-forContent);
  font-weight: 400;
  line-height: normal;
  width: 100%;
  &:focus {
    box-shadow: none;
  }
}
.cta-default {
  @extend %btn;
  border: 1px solid #e4e4e4;
  background: #fff;
  color: $black;
}
.cta-primary {
  @extend %btn;
  background: $bright-orange;
  color: $white;
  border: $bright-orange solid 1px;
  &:hover {
    background: $bright-orange;
    color: $white;
    border-color: $bright-orange;
  }
}
.cta-whiteCPB {
  @extend %btn;
  background: #fff;
  color: #000;
  border: solid 1px #e4e4e4;
}
.globalbtn-group {
  display: inline-block;
}
.globalbtn-group button {
  width: inherit;
}
.btn.focus {
  box-shadow: none;
}
.animated {
  animation-duration: 0.5s !important;
}
.p-lft-0 {
  padding-left: 0;
}
.p-rgt-0 {
  padding-right: 0;
}
%inputGlobal {
  background: #fff;
  @extend %borderGlobal;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 0 19px;
}
.form-control {
  @extend %inputGlobal;
  height: 44px;
  line-height: 44px;
}
.loginwihBtn .cta-primary,
.loginwihBtn .cta-default {
  width: 100%;
}
.loginwihBtn span {
  display: block;
  text-align: center;
  color: #a6a6a6;
  text-transform: uppercase;
  margin-bottom: 18px; /*Changes by pradeep*/
}
.cta-next {
  background: $azure;
  border-color: $azure;
  &:hover {
    background: $azure;
    border-color: $azure;
  }
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #000;
}

.t-banner__TxtCont h2:after,
.t-carousel__container h2:after,
.t-teacher__testimonials h2:after,
.t-faq__container h2:after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2px;
  background: #000;
  bottom: -15px;
  left: 47%;
}

/*Landing Page register Button*/
.t-reg__largebtn {
  text-align: center;
  margin: 65px 0;
}
.t-reg__largebtn button {
  background: $bright-orange;
  width: 325px;
  padding: 15px 0;
  text-align: center;
  @extend %borderRadius;
  color: $white;
  font-weight: bold;
  font-size: 20px;
  border: transparent solid 1px;
}
/*Landing Page register Button END*/

/*Form Error Message*/
.has-danger .form-control {
  border-color: #d9534f;
}
.has-danger .form-control-feedback {
  color: #d9534f;
  font-size: 12px;
}
.form-control-feedback p {
  margin-top: 5px;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
  border: #ff5b59 solid 2px;
}
.form-control:disabled,
.form-control[readonly] {
  border-color: #e2e2e2 !important;
}
.error-alertcls {
  background: transparent;
  border: none;
  padding: 5px 0 0;
  color: #ff5b59;
  font-size: 12px;
  margin-bottom: 0;
}
// Global Errors

.form-control.ng-touched.ng-invalid {
  border: $grapefruit solid 2px;
}
button.disabled,
button:disabled {
  opacity: 0.4;
}
/*Error Message End*/
/*Global Font Size for heading*/
.t-reg__heading {
  font-weight: bold;
  @include fontSize($fontforSubHeading);
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}
.t-reg__verifyOtp__mobileHeading {
  font-weight: bold;
  @include fontSize($fontforSubHeading);
}

.t-carousel__container h2,
.t-teacher__testimonials h2,
.t-faq__container h2 {
  @include fontSize($fontforSubHeading);
}

@media (max-width: 768px) {
  %btn {
    border-radius: 40px;
    padding: 8px 21px;
    @include fontSize(14px);
    font-weight: 400;
    line-height: normal;
    width: 100%;
    &:focus {
      box-shadow: none;
    }
  }
  .t-banner__TxtCont h2:after,
  .t-carousel__container h2:after,
  .t-teacher__testimonials h2:after,
  .t-faq__container h2:after {
    left: 50%;
    margin-left: -32px;
  }
  .t-reg__largebtn {
    margin: 17px 0 40px 0;
  }
  .t-faq__container {
    padding: 0;
  }
  .t-reg__largebtn button {
    width: 274px;
    @include fontSize($font-forContent);
  }

  .t-reg__heading {
    @include fontSize($fontfor-average);
  }
  .t-reg__verifyOtp__mobileHeading {
    @include fontSize($fontfor-average);
  }
  .t-carousel__container h2,
  .t-teacher__testimonials h2,
  .t-faq__container h2 {
    @include fontSize(24px);
  }
}


//common css

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
  min-height: 0px;
  border-radius: 0;
}

/* right heading and form section start */
.t-reg__rightform {
padding-left: 37%;
//padding-right: 20%;
margin-top: 100px;
}

.t-normal-page {
  padding-left: 2%;
  //padding-right: 20%;
  margin-top: 100px;
}

.t-reg__heading:after {
content: "";
position: absolute;
width: 58px;
max-width: 58px;
height: 2px;
background: $black;
bottom: -12px;
left: 0;
}

.number-padding {
padding-left: 75px;
}
.t-formglobal__label {
font-weight: bold;
@include fontSize($fontSmall);
margin-bottom: 10px;
}
.t-formgroup__mb {
margin-bottom: 30px;
}
.t-reg__btn {
padding: 12px 60px;
margin-bottom: 26px;
}
.btn-global__leftcenter {
text-align: left;
}
.t-reg__rightform form p {
@include fontSize($font-forContent);
letter-spacing: 0;
color: $black;
margin-bottom: 30px;
}
.t-reg__rightform form p .link-cls,
.agree-termspolicy .link-cls {
color: $blue;
}
.t-reg__rightform form p .link-cls:hover,
.agree-termspolicy .link-cls:hover {
color: $dark-sky-blue;
}
.agree-termspolicy {
color: $grey;
@include fontSize($fontSmall);
}
.tutorImg {
width: 300px;
margin: 10px auto 0;
}
.tutorImg img {
width: 100%;
display: block;
}
/* right heading and form section start */

/*Password Section*/
.passShow a {
color: #00a1ff;
}
.passShow .t-formgroup__mb,
.passShow .btn-global__leftcenter,
.passShow .btn-global__leftcenter .cta-primary {
display: block;
width: 100%;
}


.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
border-bottom-right-radius: 0.25rem;
}

@media all and (max-width: 812px) and (min-width: 768px) {
.t-reg__rightform {
  padding-left: 0;
  margin: 100px auto 0;
  width: 60%;
}
.register-form-width {
  width: 100%;
}
}

@media (max-width: 767px) {
/* registration tutor css */
.leftsection-image {
  display: none;
}
.t-reg__rightform {
  padding: 20px 20px 20px 17px;
  width: 100%;
  margin-top: 70px;
}
.btn-global__leftcenter {
  margin: 0 auto;
  text-align: center;
}
.register-form-width {
  max-width: 100%;
  width: 100%;
}
.t-reg__rightform form p {
  text-align: center;
}
.agree-termspolicy {
  text-align: center;
}
/* registration tutor css end */
}

