
/*function to calculate rem */
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }
  @mixin fontSize($size) {
    font-size: calculateRem($size);
  }

/*end functions here*/

/*Inheritance for margin and padding*/
%m0-p0{
  margin: 0px;
  padding: 0px;
}

%borderRadius{
  border-radius: 4px;
}

%borderGlobal{
  border: #e2e2e2 solid 1px;
}



/* end here Inheritance for margin and padding*/

/*Variable Define for bg-Color, Button bg Color, Text-Color, Text-hover color,*/
$bright-orange: #0000FF;
$pale-blue: #d1f4ff;
$dark-sky-blue: #36bcfa;
$blue:#00a1ff;
$ice-blue: #dcf7ff;
$wheat: #ffdf79;
$black: #000000;
$azure: #00a3fd;
$ecru: #fafcc9;
$eggshell: #eaffd4;
$brownish-grey: #757575;
$grey:#888888;
$white: #fcfcfc;
$light-peach: #b6b6b6;
$red: #eb0000;
$light-peach: #ffd0d0;
$very-light-pink: #c1c1c1;
$grapefruit: #ff5b59;
$greyishText: #444444;

/*Variable For Font Size*/
$fontSmall: 14px;
$font-forContentSub: 15px;
$font-forContent: 16px;
$fontTwenty: 20px;
$fontfor-average: 24px;
$fontfor-sub-head-cont: 30px;
$fontforSubHeading: 32px;
$fontforHeading: 52px;

/* size */

$zero: 0px !important;

/* font-weight */

$normalWeight: normal !important;
%font16{
  font-size: 16px;
  color: $black;
}
/*GLobal Variable CSS End*/
