
/*country code css starts here*/
.country-code .dropdown-menu {
    max-height: 200px;
    overflow: auto;
  }
  .country-code .dropdown-menu span {
    color: #000;
    cursor: pointer;
    @include fontSize($fontSmall);
    display: block;
  }
  .country-code a {
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 23px 10px 10px;
    height: 42px;
    border-radius: 0.25rem 0 0 0.25rem;
    text-align: left;
    margin-right: -2px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.05);
    border-right: 1px solid #e2e2e2;
    margin-top: 1px;
    margin-left: 2px;
  }
  .btn-group.country-code {
    z-index: 99;
    position: absolute;
    /*position: absolute;
      top: 1px;
      left: 1px;*/
  }
  .country-code .dropdown-menu.show {
    @extend %borderRadius;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    @extend %borderGlobal;
    background-color: #ffffff;
    padding: 7px;
  }
  .country-code .dropdown-menu.show li {
    padding: 7px 10px;
  }
  .country-code .dropdown-menu.show li:hover {
    @extend %borderRadius;
    background-color: #ffdf79;
  }
  .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0.255em;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f107";
    border: none;
    position: absolute;
    right: 7px;
    top: 31%;
    font-size: 18px;
    color: #0000FF;
    font-weight: bold;
  }
  .input-group1>.custom-select:not(:first-child), .input-group1>.form-control:not(:first-child){
    padding-left: 73px;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: inherit;
    border-color: #e2e2e2;
  }